{
  "presets": ["next/babel"],
  "plugins": [["styled-components", { "ssr": true }], 
    ["inline-react-svg", {
        "root": "./",
        "alias": {
          "svgs": "svgs"
        }
      }],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "svgs": "svgs"
        }
    }]
 ]

}
